<component name="ArtifactManager">
  <artifact type="war" name="SpringDiagnosis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringDiagnosis.war">
      <element id="artifact" artifact-name="SpringDiagnosis:war exploded" />
    </root>
  </artifact>
</component>